[commit]
    gpgsign = true
[core]
    editor = vim
[fetch]
    all = true
    prune = true
[gpg]
    format = ssh
[help]
    autocorrect = immediate
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = upstream
[rebase]
    autoStash = true
[tag]
    gpgsign = true
[user]
    name = Patrick Koenig
    email = pkoenig10@gmail.com
    signingKey = ~/.ssh/id_rsa.pub
